<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="El mejor servicio de análisis de frases e imágenes online">
  <meta name="author" content="JJ y Lucia">

  <title>Erittely</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/image-effects.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom-styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome-ie7.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="site-header spacing-t">
        <div class="col-md-4 ">
          <div class="site-name spacing-b">
            <a href="/"><h1>Erittely</h1></a>
            <h6>El mejor servicio de análisis de frases e imágenes online</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="subscribe">

      <div id="input_frase_all">
        <h1>Análisis de Frase</h1>
        <div class="row">
          <div id="input_frase" class="input-group-lg center-block helloInput">
            <input id="input_frase_arg" type="text" class="form-control" placeholder="Frase" aria-describedby="sizing-addon1" value="" />
            <br>
          </div>
        </div>
      </div>

      <div id="input_imagen_all">
        <h1>Análisis de imagen</h1>
        <div class="row">
          <div id="input_imagen" class="input-group-lg center-block helloInput">
            <input id="input_imagen_arg" type="text" class="form-control" placeholder="URL de imagen" aria-describedby="sizing-addon1" value="" />
          </div>
        </div>
      </div>
    </div>

    <div id="response">
    {{ output | safe }}
    </div>

    <div class="ruler"></div>
  </div>


  {% if not output %}
  <div class="container" id="banner-fig">
    <br>
    <div class="banner">
      <div class="banner-item">
      </div>
      <div class="banner-item">
      </div>
      <div class="banner-item">
      </div>
      <div class="banner-item ">
      </div>
    </div>
  </div>
  {% endif %}


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ url_for('static',filename='js/html5shiv.js') }}"></script>
  <script src="{{ url_for('static',filename='js/respond.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery-1.9.1.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static',filename='js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>

  <script src="{{ url_for('static',filename='js/script-main.js') }}" ></script>

<div class="modal"></div>

</body>
</html>