  <div class="container">
    <div class="featured-blocks">
      <div class="row">
        
        <div class=" col-md-9">
          
          <div class="thumbnail">
            <div class="caption">
              <h3>Imagen</h3>
              <img src="{{url_img}}">
              <p>{{vr_long}}</p>
            </div>
          </div>

          <br>
          
          <div class="thumbnail">
            <div class="caption">
              <h3>Análisis de la imagen</h3>
              <p>{{vr_short}}</p>
            </div>
          </div>

          <br>

        </div>

        <div class=" col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <h3>Historial</h3>
              <p id="resultado_historial"> </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>