{% if show_bars %}
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Concept', 'Confidence'],
      {% for concept, value in concepts %}
      ['{{concept|title}}', {{(100*value)|int}}],
      {% endfor %}
    ]);

    var view = new google.visualization.DataView(data);
    
    var options = {
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
    };
    var chart = new google.visualization.BarChart(document.getElementById('barchart_values'));
    chart.draw(view, options);
  }
  </script>
{% endif %}

  <div class="container">
    <div class="featured-blocks">
      <div class="row">
        
        <div class=" col-md-9">
          
          <div class="thumbnail">
            <div class="caption">
              <h3>Imagen</h3>
              <img src="{{url_img}}">
            </div>
          </div>

          <br>
          
          <div class="thumbnail">
            <div class="caption">
              <h3>Análisis de la imagen</h3>
              {% if show_bars %}
                <div id="barchart_values" style="width: 650px; height: 300px;"></div>
              {% else %}
                <p>{{vr_short}}</p>
              {% endif %}
            </div>
          </div>

          <br>

        </div>

        <div class=" col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <h3>Historial</h3>
              <p id="resultado_historial"> </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>